<Alloy>
    <Widget id="drawer" src="nl.fokkezb.drawer">
        <Window module="xp.ui" role="leftWindow" id="sidebar"></Window>

        <Window module="xp.ui" role="centerWindow" title="Definições" id="window">
        	
        	<View id="titleBar" platform="ios">
        		<Label text="Definições" class="fontWhite proximaNovaRegular" id="labelTitleBar"/>
        		<ImageView image="/images/icon-menu.png" id="leftMenu" class="leftItemMenu" onClick="$.drawer.toggleLeftWindow"/>
    		</View>
    					
			<ScrollView class="inside">		
				<View class="layoutVertical" bottom="30">
					<View id="btnFacebook" class="radius" top="20">
						<ImageView image="/images/logo-button-facebook.jpg" id="logoBtnFacebook"/>
						<Label textid="button_facebook_integrate" id="labelBtnFacebook" class="fontWhite proximaNovaRegular"/>
					</View>
					<!--<View class="topProfile" backgroundImage="/images/background-categories-soccer.jpg">				
						<View class="profile" id="editImageProfile">
							<ImageView class="imageProfile" backgroundImage="/images/icon-user.png" />

							<Label text="EDITAR" class="editImageProfile" />
						</View>

						<Label text="EDITAR PAPEL DE PAREDE" class="editBackground" />
					</View>-->

					<TextField id="firstName" hintText="L('first_name')" class="radius input fontGray" />
					<TextField id="lastName" hintText="L('last_name')" class="radius input fontGray" />
					<TextField id="email" hintText="L('email')" class="radius input fontGray" />
					<TextField id="password" passwordMask="true" hintText="L('password')" class="radius input fontGray" />

					<Button id="submit" title="Salvar" class="radius white fontRed"/>
				</View>
			</ScrollView>
    	</Window>
    </Widget>
</Alloy>